@import "colors";

.Footer {
    background-color: $color-main;
    padding: 1.875em 0;
}

.Wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
}

.ContactUs {
    padding: 0.625em 0 0.625em 1.25em;
}

.Logo {
    display: flex;
    align-items: center;

    p {
        font-size: 1.613em;
        font-weight: 800;
        margin-left: 0.625em;
    }

    span {
        color: $color-accent;
    }
}

.AboutUs {
    border-left: 2px solid $color-accent;
    padding-left: 1.25em;
    width: 20%;
    ul {
        padding: 0.625em 0;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    strong {
        display: none;
    }
}

.Social {
    border-left: 2px solid $color-accent;
    padding: 0.625em 0 0.625em 1.25em;
    display: flex;
    flex-direction: column;
    width: 25%;
    strong {
        display: none;
    }
}
.LinksWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    svg {
        width: 1.563em;
        height: auto;
        fill: $color-secondary;
        transition: all 0.3s ease;
        &:hover {
            fill: $color-accent;
            transform: scale3d(1.1, 1.1, 1.1);
        }
    }
    p {
        display: none;
    }


}

@media (max-width: 640px) {
    .Wrapper {
        justify-content: space-around;
       strong {
        display: contents;
        color: $color-accent;
        font-size: 1.1em
    }
    }
    .ContactUs {
        display: none;
    }
    .Social {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 160px;
        border: none;
        padding: 0;


    }
    .LinksWrapper {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            display: contents;
            font-size: 0.9em;
            display: inline-block;
            margin-bottom: 10px;
        }
        svg {
            display: none;
        }
    }

    .AboutUs {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 160px;
        padding: 0;
        border: none;

        ul {
            display: flex;
            align-items: center;
        }
        li {
            margin-bottom: 10px;
            font-size: 0.9em;
        }
    }
}

@media (max-width: 360px) {
    .Wrapper {
        padding: 0 1em;
        strong {
            font-size: 1em;
        }
    }
}