@import "colors";

.Header {
    background: #2d545e;
}

.Contacts {
    display: flex;
    align-items: center;
}

.LogoBlock {
    display: flex;
    align-items: center;
}

.LogoContent {
    padding-left: 0.625em;
        p {
            font-size: 1.875em;
            font-weight: 800;
            text-transform: uppercase;
        }
        :nth-child(2) {
            font-size: 0.75em;
            font-weight: 500;
        }

        span {
            color: $color-accent;
        }

}

.Social {

    ul {
        display: flex;
    }

    li {
        list-style: none;
        margin-right: 1.25em;
    }

    a {
        font-size: 0.938em;
        font-weight: 500;
        display: flex;
        align-items: center;
        

        svg {
            width: 1.25em;
            height: auto;
            fill: $color-secondary;
            margin-right: 0.313em;
            transition: all 0.3s ease;
            
        }

        &:hover {
            svg {
                fill: $color-accent;
                transform: scale3d(1.1, 1.1, 1.1);
            }
        }
    }
}

.HeaderBot {
    border-top: 0.1px solid darken($color-accent, 5%);
}

.Menu {
    width: 60%;
    margin: 0 auto;
    font-weight: 700;

    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

}

.FeedBackBtn {
    background: inherit;
    color: $color-accent;
    border: 0.25em solid $color-accent;
    padding: 0.938em 1.688em;
    font-size: 0.875em; 
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.3s ease;
        &:hover {
        background-color: $color-accent;
        color: $color-secondary;
        }
    
}

.OrderBtn {
    padding: 10px 0 20px 0;
    border: none;
    background: inherit;
    transition: all 0.3s ease;
    &:hover {
            transform: scale3d(1.1, 1.1, 1.1);
        }

        h2, p {
            line-height: 1.8em;
            transition: all 0.6s ease;
            &:hover {
                color: $color-accent;
            }
        }
}

.Main {
    h1, h2, h3, p {
        color: #3e444f;
    }
}

.Wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}

.CompanyBlock, .ProductsBlock, .ServicesBlock {

    h1 {
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 1.875em;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 4px;
    }
}

.CompanyBlock, .ServicesBlock {
    background: #F3F3F3;
    padding-bottom: 2em;
}

.ProductsBlock {
    background: #FFFFFF;
}

.AboutCompany {
    padding: 3.125em 0;
    display: flex;

    p {
        display: inline-block;
        padding: 1.5em 1.5em 0 1em;
        max-width: 55%;
        font-size: 1.2em;
        line-height: 2em;
    }
}

.AdvantagesWrapper {
    margin: 0 auto;
    width: 80%;   
}

.AdvantagesBlock {
    display: flex;
    justify-content: space-between;    

    >p {
        font-size: 1.563em;
        font-weight: 700;
    }
}

.AdvantageBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    height: 13em;
    min-width: 13em;

    p {
        display: flex;
        justify-content: center;
        margin-top: 1em;
        font-weight: 700;
        color: lighten(#3e444f, 10%)
    }
}

.SvgBox {
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 10px;

    svg {
        margin: 2em;
        width: 3.125em;
        height: auto;
    }
}

.Experience {
    .SvgBox {
        background: #ABD9FF;
    }

    svg {
        stroke: darken(#ABD9FF, 35%);
        fill: darken(#ABD9FF, 35%);
        
    }
}

.Quality {
    .SvgBox {
        background: lighten($color-main, 35%);
    }

    svg {
        stroke: lighten($color-main, 5%);
        fill: lighten($color-main, 5%);
        
    }
}

.Services {
    .SvgBox {
        background: #FFF6BF;
    }

    svg {
        stroke: darken(#FFF6BF, 35%);
        fill: darken(#FFF6BF, 35%);
        
    }
}

.Decisions {
    .SvgBox {
        background: lighten($color-accent, 15%);
    }

    svg {
        stroke: darken($color-accent, 35%);
        fill: darken($color-accent, 35%);
        
    }
}

.Products {
    padding: 3.125em 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ProductsList {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 45%;
    margin-bottom: 2em;
}


.ServicesItem {
    display: flex;
    justify-content: space-between;
    margin-top: 3.125em;
}

.ServicesDescr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.25em;

    h2 {
        font-weight: 700;
        font-size: 1.563em;
    }

    p {
        font-weight: 700;
        line-height: 1.563em;
    }

    li {
        color: #3e444f ;
        list-style: inside;
        font-weight: 700;
        line-height: 1.563em;     
    }
}

.ServicesBtnBlock {
    display: flex;   
}

@media (max-width: 1170px) {

    .AdvantagesWrapper {
        width: 60%;
    }

    .AdvantagesBlock {
        flex-wrap: wrap;
    }

    .AdvantageBox {
        width: 39%;
        margin-bottom: 2em;
    }
}

@media (max-width: 992px) {

    .LogoContent {
        p {
            font-size: 1.6em;
        }
        :nth-child(2) {
            font-size: 0.7em;
        }
    }

    .Social {
        height: 100%;
        display: flex;
        align-items: center;
        ul {
            display: flex;
            flex-direction: column;
        }      
        li {
            &:not(:last-child) {
                margin-bottom: 0.5em;
            }
        }
    }
    .CompanyBlock {
        padding-bottom: 0;
    }

    .AboutCompany {
        padding: 2.5em 0;
        p {
            font-size: 1em;
            max-width: 45%;
            line-height: 1.8em;
        }
    }

    .AdvantagesWrapper {
        width: 70%;
    }


    .ServicesDescr {
        padding: 0 1em 0 0;
        h2 {
            font-size: 1.4em;
        }
    }
}

@media (max-width: 768px) {
    .FeedBackBtn {
        padding: 1.1em 1.2em;
        font-size: 0.7em;
    }

    .Social {
        p {
            font-size: 0.9em;
        }
        li {
            margin-right: 0.5em;
        }
    }

    .AboutCompany {
        padding: 2.5em 0 2.5em 0;
    }

    .AdvantagesWrapper {
        width: 75%;
    }

    .ServicesDescr {
        p, li {
            font-size: 0.9em;
        }
    }

    .LogoContent {
        width: 170px;
        p {
            font-size: 1.1em;
        }
        :nth-child(2) {
            font-size: 0.7em;
        }
    }
}

@media (max-width: 640px) {

    .Social {
        p  {
            display: none;
        }
    }
    
    .Menu {
        width: 70%;
    }

    .Wrapper {
        h1 {
            font-size: 1.6em    ;
        }
    }

    .AboutCompany {
        padding: 0 0 2em 0;
        flex-direction: column;
        p {
            min-width: 100%;
            margin-bottom: 1em;
        }
    }
    .AdvantagesWrapper {
        width: 95%;
    }
    .AdvantagesBlock {
        justify-content: center;
        justify-content: space-between;
    }

    .AdvantageBox {
        margin-bottom: 2em;
        width: 38%;
    }
    .ServicesItem {
        margin-top: 1em;
        flex-direction: column;
    }

    .ServicesDescr {
        padding: 0 0 1em 0;
        height: 270px;
        h2 {
            font-size: 1.2em;
        }
    }

    .Products {
        flex-direction: column;
        justify-content: center;
        padding-top: 1.8em;
    }
    .ProductsList {
        width: 100%;
        display: flex;
        justify-content: center;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .OrderBtn {
        p {
            line-height: 1.4em;
            font-size: 1em;
        }

        h2 {
            font-size: 1.3em;
            line-height: 1.5em;
        }
    }
}

@media (max-width: 540px) {
    .LogoBlock {
        width: 200px;
    }
    .LogoContent {
        width: 200px;
        p {
            font-size: 1.1em;
        }
        :nth-child(2) {
            font-size: 0.6em;
        }
    }
    .AdvantagesWrapper {
        width: 50%;
    }

    .AdvantageBox {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .Menu {
        width: 90%;
    }
    .AdvantagesBlock {
        justify-content: center;
    }
    .ServicesDescr {
        height: 350px;
    }
    .Logo {
        display: none;
    }

    .FeedBackBtn {
        padding: 0.9em 1em;
        font-size: 0.6em;
    }

}

@media (max-width: 360px) {
    .AboutCompany {
        p {
            font-size: 0.9em;
            line-height: 1.6em;
        }
    }
}