@import "colors";

.Header {
    background: #2d545e;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.Contacts {

    display: flex;
    align-items: center;

}

.LogoBlock {
    display: flex;
    align-items: center;
}

.LogoContent {
    padding-left: 0.625em;
        p {
            font-size: 1.875em;
            font-weight: 800;
            text-transform: uppercase;
        }
        :nth-child(2) {
            font-size: 0.75em;
            font-weight: 500;
        }

        span {
            color: $color-accent;
        }

}

.Social {

    ul {
        display: flex;
    }

    li {
        list-style: none;
        margin-right: 1.25em;
    }

    a {
        font-size: 0.938em;
        font-weight: 500;
        display: flex;
        align-items: center;
        

        svg {
            width: 1.25em;
            height: auto;
            fill: $color-secondary;
            margin-right: 0.313em;
            transition: all 0.3s ease;
            
        }

        &:hover {
            svg {
                fill: $color-accent;
                transform: scale3d(1.1, 1.1, 1.1);
            }
        }
    }
}

.HeaderBot {
    border-top: 0.1px solid darken($color-accent, 5%);
}

.Menu {
    width: 100%;
    padding: 0 10em 0 10em;
    font-weight: 700;

    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

}

.FeedBackBtn {
    background: inherit;
    color: $color-accent;
    border: 0.25em solid $color-accent;
    padding: 0.938em 1.688em;
    font-size: 0.875em; 
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.3s ease;
        &:hover {
        background-color: $color-accent;
        color: $color-secondary;
        }
    
}

.OrderBtn {
    padding: 10px 0 20px 0;
    border: none;
    background: inherit;
    transition: all 0.3s ease;
    &:hover {
            transform: scale3d(1.1, 1.1, 1.1);
        }

        h2, p {
            line-height: 1.8em;
            transition: all 0.6s ease;
            &:hover {
                color: $color-accent;
            }
        }
}

@media (max-width: 1260px) {
    .Header {
        padding: 0 2em;
    }
}

@media (max-width: 850px) {
    .Social {
        ul {
            flex-direction: column;
            justify-content: space-between;
        }

    }
}

@media (max-width: 700px) {
    .LogoContent {
        p {
            font-size: 1.3em;
        }
    }
}

.Main {
    h1, h2, h3, p {
        color: #3e444f;
    }
}

.Wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em 0;
}

.CompanyBlock, .ProductsBlock, .ServicesBlock {

    h1 {
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 1.875em;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 4px;
    }
}

.CompanyBlock, .ServicesBlock {
    background: #F3F3F3;
}

.ProductsBlock {
    background: #FFFFFF;
}

.AboutCompany {
    padding: 3.125em 0;
    display: flex;

    p {
        display: inline-block;
        padding: 1.5em 1.5em 0 1em;
        max-width: 55%;
        font-size: 1.2em;
        line-height: 2em;
    }
}

.AdvantagesBlock {
    display: flex;
    justify-content: space-between;
    padding: 1.25em 6.25em 3.125em 6.25em;

    >p {
        font-size: 1.563em;
        font-weight: 700;
    }
}

.AdvantageBox {
    background: #FFFFFF;
    border-radius: 10px;
    width: 23%;

    p {
        display: flex;
        justify-content: center;
        margin-bottom: 1.25em;
        font-weight: 700;
        color: lighten(#3e444f, 10%)
    }
}

.SvgBox {
    display: flex;
    justify-content: center;
    margin: 2.188em 3.75em 1.25em 3.75em;
    min-height: 6.25em;
    border-radius: 10px;

    svg {
        width: 3.125em;
        height: auto;
    }
}

.Experience {
    .SvgBox {
        background: #ABD9FF;
    }

    svg {
        stroke: darken(#ABD9FF, 35%);
        fill: darken(#ABD9FF, 35%);
        
    }
}

.Quality {
    .SvgBox {
        background: lighten($color-main, 35%);
    }

    svg {
        stroke: lighten($color-main, 5%);
        fill: lighten($color-main, 5%);
        
    }
}

.Services {
    .SvgBox {
        background: #FFF6BF;
    }

    svg {
        stroke: darken(#FFF6BF, 35%);
        fill: darken(#FFF6BF, 35%);
        
    }
}

.Decisions {
    .SvgBox {
        background: lighten($color-accent, 15%);
    }

    svg {
        stroke: darken($color-accent, 35%);
        fill: darken($color-accent, 35%);
        
    }
}

.Products {
    padding: 3.125em 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ProductsList {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 1em;
}


.ServicesItem {
    display: flex;
    justify-content: space-between;
    margin-top: 3.125em;
}

.ServicesDescr {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.25em;

    h2 {
        font-weight: 700;
        font-size: 1.563em;
    }

    p {
        font-weight: 700;
        line-height: 1.563em;
    }

    li {
        color: #3e444f ;
        list-style: inside;
        font-weight: 700;
        line-height: 1.563em;     
    }
}

.ServicesBtnBlock {
    display: flex;   
}

@media (max-width: 1170px) {
    .OrderBtn {
        padding: 10px 30px 15px 30px;
    }

    .ServicesDescr {
        padding-left: 50px;
    }
}

@media (max-width: 1100px) {
    .SvgBox {
        margin: 2em 3.3em 1.25em 3.3em;
    }
}

@media (max-width: 1000px) {

    .AdvantageBox {
        p {
            font-size: 0.9em;
        }
    }

    .SvgBox {
        margin: 2em 2.9em 1.25em 2.9em;
    }

    .Products {
        padding: 3em 2em 2em 2em;
    }


    .ServicesItem {
        padding: 0 1.2em 2em;
    }

    .ServicesBtnBlock {
        width: 60%;
        height: 50%;
        display: flex;
        flex-direction: column;
    }

    .ServicesDescr {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;


        ul,h2,p {
            margin-bottom: 1em;
        }

    }
}

@media (max-width: 950px) {
    .AboutCompany {
        p {
            font-size: 1em;
            padding: 1.5em 2em;
        }
    }

    .AdvantageBox {
        p {
            font-size: 0.8em;
        }
    }

    .OrderBtn {
        h2, p {
            line-height: 1.6em;
        }
    }
}
@media (max-width: 900px) {

    .AdvantagesBlock {
        padding: 1.25em 4em 3.125em 4em;;
    }
    .SvgBox {
        margin: 2em 2.5em 1.25em 2.5em;
    }
}

@media (max-width: 830px) {
    .ServicesBtnBlock {
        width: 65%;
        height: 50%;
    }

    .ServicesDescr {
        width: 65%;

        h2 {
            font-size: 1em;
        }

        p, li {
            font-size: 0.8em;
        }
    }

    .OrderBtn {
        p {
            line-height: 1.5em;
            font-size: 0.9em;
        }

        h2 {
            font-size: 1.2em;
            line-height: 1.5em;
        }
    }
}

@media (max-width: 725px) {

    .Main {
        h1 {
            font-size: 1.5em;
        }
    }

    .ServicesBtnBlock {
        width: 80%;
        height: 100%;
    }
    .AboutCompany {
        p {
            padding: 1.5em;
        }
    }

    .AdvantagesBlock {
        padding: 1.25em 1em 3.125em 1em;;
    }

    .SvgBox {
        margin: 2em 2em 1.25em 2em;
    }

    .FeedBackBtn {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 645px) {
    .FeedBackBtn {
        font-size: 0.6em;
    }

    .OrderBtn {
        p {
            line-height: 1.4em;
            font-size: 0.8em;
        }

        h2 {
            font-size: 1em;
            line-height: 1.4em;
        }
    }
}

@media (max-width: 610px) {

    .OrderBtn {
        padding: 10px 30px 15px 30px;
        p {
            line-height: 1.5em;
            font-size: 1em;
        }

        h2 {
            font-size: 1.2em;
            line-height: 1.7em;
        }
    }

    .LogoBlock {
        width: 44%;
    }

    .LogoContent {
        :nth-child(2) {
            font-size: 0.7em;
            font-weight: 500;
            display: inline-block;
            width: 80%;
        }

    }
    .AdvantageBox {
        width: 23.6%;
    }
}

@media (max-width: 610px) {
    .AdvantageBox {
        width: 24.5%;
    }
    .Products {
        flex-direction: column;
        justify-content: center;
    }
    .ProductsList {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .OrderBtn {
        padding: 10px 25px 15px 25px;
        p {
            line-height: 1.5em;
            font-size: 0.9em;
        }

        h2 {
            font-size: 1.2em;
            line-height: 1.7em;
        }
    }
}

@media (max-width: 360px) {

    .LogoBlock {
        width: 75%;
    }

    .Social {
        p {
            display: none;
        }
    }

    .Menu {
        padding: 0;
    }

    .AdvantagesBlock {
        flex-wrap: wrap;
        padding: 0 30px;
    }

    .AdvantageBox {
        width: 45%;
        margin-bottom: 15px;
    }

    .OrderBtn {
        padding: 10px 20px 15px 20px;
        p {
            line-height: 1.5em;
            font-size: 0.8em;
        }

        h2 {
            font-size: 1.1em;
            line-height: 1.7em;
        }
    }

    .ServicesDescr {
        width: 120%;
    }
}